<table style="background-color: #F8FAF0;
		font-family: arial;
		font-size: 14px;">
	<thead>
		<tr>
			<th style="min-height: 150px; min-width: 800px; background-color: #ffffff;"><img src="http://postbeardev.cav.udesc.br/static/img/cabecalho_postbear.jpg" alt="UDESC - CAV" border="0" align="center"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="height: 30px;
		background-color: #333333;
		color: #ffffff;
		font-weight: bold;
		text-align: right;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 5px;">{{data}} - N&ordm; {{numero}}</td>
		</tr>
		<tr>
			<td style="height: 30px;
		color: #999900;
		font-weight: bold;
		text-align: left;
		padding-left: 20px;
		padding-top: 25px;
		font-size: 16px;">{{remetente}}</td> 
		</tr>
		<tr>
			<td style="height: 30px;
		color: #003300;
		font-weight: bold;
		text-align: left;
		font-size: 16px;
		padding-left: 20px;
		padding-top: 10px;">{{titulo}}</td>
		</tr>
		<tr>
			<td style="min-height: 600px; min-width: 800px; padding: 20px; text-align: justify;	line-height: 20px;">{{mensagem}}</td>
		</tr>
		<tr>
			<td style="text-align: left;
		padding-left: 20px;
		padding-top: 5px;">{{anexos}}</td>
		</tr>
		<tr>
			<td style="padding: 20px; text-align: justify; font-style: italic;line-height: 20px;">{{aviso}}</td>
		</tr>
		<tr>
			<td style="height: 30px;
		background-color: #333333;
		color: #ffffff;
		font-size: 13px;
		text-align: right;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;">{{avisoInstitucional}}<hr/>Powered By PostBear 2.0</td>
		</tr>
	</tbody>
</table>