<table style="border-top: thin solid Silver; padding-top: 15px;">
	<tr>
		<td rowspan="2"><img src="{{icone}}_64.gif" width="32" height="32" alt="{{tipoArquivo}}"></td>
		<td colspan="4" style="font-weight: bold;">{{nomeArquivo}}</td>
	</tr>
	<tr>
		<td style="font-style: italic; width:180px">{{tipoArquivo}}</td><td style="text-align: center;  width:140px"> {{tamanho}} Kbytes</td><td style="text-align: left;  width:60px"><a href="{{arquivo}}" style="text-decoration: none;">baixar</a></td><td></td>
	</tr>
</table>